.body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    min-height: 50vh;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    color: rgb(218,38,41);
    font-family: 'Barlow Condensed';
}

.smContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    color: rgb(218,38,41);
    font-family: 'Barlow Condensed';
}

.content{
    display: flex;
    justify-content: space-between;
    height: 45vh;
    width: 80vw;
}

.smContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 45vh;
    width: 95vw;
}

.subContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.signature{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    min-height: 15vh;
}

.message{
    color: white;
    font-size: 10px;
}

.hiddenName{
    color: black;
}