.body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 11vh;
    width: 100vw;
    padding-left: 10px;
    padding-right:10px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 40vw;
    color: rgb(218,38,41);
    font-family: 'Barlow Condensed';
    font-size: 25px;
}

.link{
    text-decoration: none;
}

.input{
    height: 5vh;
    width: 15vw;
    border-radius: 20px;
    border-width: 0px;
    padding-left: 10px;
}

.smInput{
    height: 5vh;
    width: 35vw;
    border-radius: 20px;
    border-width: 0px;
    padding-left: 10px;
}