.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  min-height: 40vh;
  font-family: 'Barlow Condensed';
}

.movieContainer {
  display: inherit;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  height: 500px;
  font-family: 'Barlow Condensed';
}

.seriesContainer {
  display: inherit;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  height: 500px;
  font-family: 'Barlow Condensed';
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 460px;
  width: 250px;
}

.smContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 250px;
}

.content{
  height: 400px;
  width:  200px;
  border-radius:10px;
  cursor: pointer;
}

.smContent{
  height: 370px;
  width:  200px;
  border-radius:10px;
  cursor: pointer;
}

.content:hover{
  box-shadow: 5px -5px 5px rgb(181,37,27);
}

.smContent:hover{
  box-shadow: 5px -5px 5px rgb(181,37,27);
}

.backgroundImg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 200px;
  border-radius:10px;
}

.smBackgroundImg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 370px;
  width: 200px;
  border-radius:10px;
}



.btnContent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 460px;
  width: 250px;
}

.smBtnContent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 250px;
}


.title{
  min-height: 80px;
  width: 90vw;
  font-size: 40px;
  font-family: 'Barlow Condensed';
}

.subTitle{
  min-height: 80px;
  width: 90vw;
  font-size: 30px;
  font-family: 'Barlow Condensed';
}

.text{
  width: 90vw;
  min-height: 100px;
  font-size: 20px;
  font-family: 'Barlow Condensed';
}






.form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  height: 90vh;

  font-family: 'Barlow Condensed';
}


.label{
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.inputs{
  width: 40vw;
  height: 5vh;
  font-family: 'Barlow Condensed';
  font-size: 20px;
}

.smInputs{
  width: 90vw;
  height: 5vh;
  font-family: 'Barlow Condensed';
  font-size: 20px;
}


.mail{
  display: flex;
  width: 40vw;
  height: 30vh;
  font-family: 'Barlow Condensed';
  font-size: 20px;
}

.smMail{
  display: flex;
  width: 90vw;
  height: 30vh;
  font-family: 'Barlow Condensed';
  font-size: 20px;
}


.submitBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 10vh;

  font-size: 20px;
  font-family: 'Barlow Condensed';

  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 10px;

  cursor: pointer;
}

.submitBtn:hover{
  box-shadow: 5px -5px 5px rgb(43, 34, 33);
}

.smSubmitBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 10vh;

  font-size: 20px;
  font-family: 'Barlow Condensed';

  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 10px;

  cursor: pointer;
}

.smSubmitBtn:hover{
  box-shadow: 5px -5px 5px rgb(43, 34, 33);
}