.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  min-height: 40vh;
  font-family: 'Barlow Condensed';
}

.movieContainer {
  display: inherit;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  height: 500px;
  font-family: 'Barlow Condensed';
}

.seriesContainer {
  display: inherit;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  height: 500px;
  font-family: 'Barlow Condensed';
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 460px;
  width: 250px;
}

.smContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 250px;
}

.content{
  height: 400px;
  width:  200px;
  border-radius:10px;
  cursor: pointer;
}

.smContent{
  height: 370px;
  width:  200px;
  border-radius:10px;
  cursor: pointer;
}

.content:hover{
  box-shadow: 5px -5px 5px rgb(181,37,27);
}

.smContent:hover{
  box-shadow: 5px -5px 5px rgb(181,37,27);
}

.backgroundImg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 200px;
  border-radius:10px;
}

.smBackgroundImg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 370px;
  width: 200px;
  border-radius:10px;
}



.btnContent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 460px;
  width: 250px;
}

.smBtnContent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 250px;
}