.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    font-family: 'Barlow Condensed';
    font-size: 30px;
}
  
.container {
  display: inherit;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 80vw;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Barlow Condensed';
    width: 90vw;
    height: 90vh;
}

.infos{
    display: flex;
    width: 100vw;
    min-height: 50vh;
}

.leftPart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

.rightPart{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70vw;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Barlow Condensed';
    font-size: 20px;
}


.stream{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 140vh;
}

.nearBtns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 10vh;
}

.prevNextBtns{
    width: 120px;
    height: 45px;
    background-color: black;
    color: rgb(218,38,41);
    font-family: 'Barlow Condensed';
    font-size: 20px;
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.notAllowedBtns{
    width: 120px;
    height: 45px;
    background-color: black;
    color: rgb(218,38,41);
    font-family: 'Barlow Condensed';
    font-size: 20px;
    border-width: 1px;
    border-radius: 5px;
    cursor: not-allowed;
}


.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 150px;
    border-top: 1px solid black;
}

.languageIcon{
    width: 8vw;
    height: 16vh;
    border-radius: 50px;
    cursor: pointer;
}


.chooseLink{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 80vh;
    background-color: black;
    color: red;
    font-family: 'Barlow Condensed';
    font-size: 30px;
}

.backStream{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 550px;
    background-color: black;
}


.displaySeasons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    min-height: 80vh;
}



.seasonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 250px;
}



.seasonContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
    color: white;
    background-color: black;
    font-size: 25px;
    font-family: 'Barlow Condensed';
    border-radius: 10px;
}

.seasonContent:hover{
    box-shadow: 5px -5px 5px rgb(181,37,27);
}

.specificEpisode{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 25vh;
}



.displayEpisodes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 60vw;
    min-height: 60vh;
}

.episodeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
}

.episodeContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    color: white;
    background-color: black;
    font-size: 22px;
    font-family: 'Barlow Condensed';
    border-radius: 10px;
}

.episodeContent:hover{
    box-shadow: 5px -5px 5px rgb(181,37,27);
}


.btn{
    color: black;
}


.movieCont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 460px;
    width: 250px;
}


.smMovieCont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;
}

.content{
    height: 400px;
    width:  200px;
    border-radius:10px;
    cursor: pointer;
}

.smContent{
    height: 370px;
    width:  200px;
    border-radius:10px;
    cursor: pointer;
}

.content:hover{
    box-shadow: 5px -5px 5px rgb(181,37,27);
}

.smContent:hover{
    box-shadow: 5px -5px 5px rgb(181,37,27);
}

.backgroundImg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 200px;
    border-radius:10px;
}

.smBackgroundImg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 370px;
    width: 200px;
    border-radius:10px;
}











  
.smContainer {
  display: inherit;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
}

.smLoading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Barlow Condensed';
    width: 90vw;
    height: 90vh;
}

.smInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 50vh;
}


.smLeftPart{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
    width: 100vw;
    font-family: 'Barlow Condensed';
}

.smTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; 
    width: 90vw;
}

.smRightPart{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    height: 60vh;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Barlow Condensed';
    font-size: 20px;
}


.smStream{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.smNearBtns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 10vh;
}


.smPrevNextBtns{
    width: 120px;
    height: 45px;
    background-color: black;
    color: rgb(218,38,41);
    font-family: 'Barlow Condensed';
    font-size: 20px;
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.smNotAllowedBtns{
    width: 120px;
    height: 45px;
    background-color: black;
    color: rgb(218,38,41);
    font-family: 'Barlow Condensed';
    font-size: 20px;
    border-width: 1px;
    border-radius: 5px;
    cursor: not-allowed;
}

.smIcons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 20vh;
    border-top: 1px solid black;
}

.smLanguageIcon{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    cursor: pointer;
}


.smChooseLink{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 60vh;
    background-color: black;
    color: red;
    font-family: 'Barlow Condensed';
    font-size: 30px;
}

.smBackStream{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 60vh;
    background-color: black;
}






.smDisplaySeasons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    min-height: 80vh;
}


.smSeasonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 250px;
}



.smSeasonContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
    color: white;
    background-color: black;
    font-size: 25px;
    font-family: 'Barlow Condensed';
    border-radius: 10px;
}

.smSeasonContent:hover{
    box-shadow: 5px -5px 5px rgb(181,37,27);
}





.smDisplayEpisodes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 60vh;
}

.smEpisodeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
}

.smEpisodeContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    color: white;
    background-color: black;
    font-size: 22px;
    font-family: 'Barlow Condensed';
    border-radius: 10px;
}

.smEpisodeContent:hover{
    box-shadow: 5px -5px 5px rgb(181,37,27);
}