.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
  
.body {
  display: inherit;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 460px;
  width: 250px;
}

.smContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 170px;
}



.content{
  height: 430px;
  width:  200px;
  border-radius:10px;
  cursor: pointer;
}

.smContent{
  height: 280px;
  width:  140px;
  border-radius:10px;
  cursor: pointer;
}



.content:hover{
  box-shadow: 5px -5px 5px rgb(181,37,27);
}

.smContent:hover{
  box-shadow: 5px -5px 5px rgb(181,37,27);
}

.backgroundImg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 430px;
  width: 200px;
  border-radius:10px;
}

.smBackgroundImg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 280px;
  width: 140px;
  border-radius:10px;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  color: black;
  font-family: 'Barlow Condensed';
  font-size: 30px;
}
