.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
  
.container {
  display: inherit;
  justify-content: space-around;
  align-items: inherit;
  flex-wrap: wrap;
  width: 90vw;
}



.content{
  height: 60vh;
  width: 16vw;
  border-radius:10px;
  cursor: pointer;
}

.content:hover{
  box-shadow: 5px -5px 5px rgb(181,37,27);
}

.backgroundImg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 16vw;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 16vw;
  color: black;
  font-family: 'Barlow Condensed';
  font-size: 17px;
}