.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}
  
.container {
  display: inherit;
  justify-content: space-around;
  align-items: inherit;
  flex-wrap: wrap;
  width: 100vw;
}

.infos{
    display: flex;
    width: 100vw;
    min-height: 50vh;
}

.leftPart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

.rightPart{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70vw;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Barlow Condensed';
    font-size: 20px;
}


.stream{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 140vh;
}


.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 150px;
    border-top: 1px solid black;
}

.languageIcon{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
}


.chooseLink{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 550px;
    background-color: black;
    color: red;
    font-family: 'Barlow Condensed';
    font-size: 30px;
}

.backStream{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 550px;
    background-color: black;
}